@import "@/scss/_variables";
// App
html,
body,
#app {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    background-color: $cms-background-color;
}
.page-content {
    margin: $page-margin;
}

// Code Display
pre {
    font-family: $accent-font;
    text-align: left;
    background: #333;
    color: #eee;
    padding: 1rem;
    border-radius: $border-radius;
}

// Text
h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
input,
textarea,
select,
option,
button,
a {
    font-family: $primary-font;
}
h1 {
    font-size: $font-size-h1;
    color: $head-primary-color;
}
h1::selection,
h1::-moz-selection {
    background-color: #fff;
    color: #999;
}
h2 {
    font-size: $font-size-h2;
    color: $head-secondary-color;
}
h3 {
    font-size: $font-size-h3;
    color: $head-primary-color;
}
h4 {
    font-size: $font-size-h4;
    color: $head-secondary-color;
}
h5 {
    font-size: $font-size-h5;
    color: $head-accent-color;
}
h6 {
    // TODO: define h6
    font-size: $font-size-h6;
    color: $head-secondary-color;
}
p {
    font-size: $font-size-p;
    color: $font-color;
}

// Button
button {
    font-family: $primary-font;
    font-size: $font-size-p;
    border-radius: $border-radius;
    border: none;
    // padding: 10px 20px;
    padding: 14px 32px;
    margin: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
        transform: scale(1.05);
    }
    &.primary {
        background-color: $button-primary-background-color;
        color: $button-primary-text-color;
        &:hover {
            background-color: darken($button-primary-background-color, 10%);
            color: lighten($button-primary-text-color, 10%);
        }
    }
    &.secondary {
        background-color: $button-secondary-background-color;
        color: $button-secondary-text-color;
        box-shadow: inset 0 0 0 $button-border-width $button-secondary-border-color;
        &:hover {
            background-color: darken($button-secondary-background-color, 10%);
            color: lighten($button-secondary-text-color, 10%);
        }
    }
    &.accent {
        background-color: $button-accent-background-color;
        color: $button-accent-text-color;
        &:hover {
            background-color: darken($button-accent-background-color, 10%);
            color: lighten($button-accent-text-color, 10%);
        }
    }
    &.danger {
        background-color: #ff0000;
        color: #fff;
        &:hover {
            background-color: #770000;
        }
    }
}

// Card
.card-container {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    gap: 1rem;
}

.card {
    box-shadow: inset 0 0 0 3px $primary-color;
    padding: 10px;
    border-radius: 5px;
    background-color: $accent-color;
}

// Responsive Styles Desktop
@media (min-width: $desktop-min-width) {
    html,
    body,
    #app {
        text-align: unset;
    }

    // Card
    .card-container {
        display: flex;
        gap: 2px;
        width: 100%;
        flex-direction: column;
    }

    .card {
        padding: 0px 30px;
        text-align: left;
        display: flex;
        justify-content: space-between;
        .card-header {
            padding: 10px;
        }
        .card-body {
            display: flex;
            flex-direction: row;
            gap: 1rem;
            align-items: center;
        }
        .card-buttons {
            display: flex;
            align-items: center;
        }
    }
}
